<div class="container-fluid bg-light p-3 rounded mb-4">
    <div class="row g-3" id="FiltroContato">
        <div class="col-md-3">
            <label for="Nome" class="form-label">Nome</label>
            <input id="Nome" class="form-control" type="text" />
        </div>

        <div class="col-md-3">
            <label for="Empresa" class="form-label">Empresa</label>
            <input id="Empresa" class="form-control" type="text" />
        </div>

        <div class="col-md-3">
            <label for="TelefoneComercial" class="form-label">Telefone Comercial</label>
            <input id="TelefoneComercial" class="form-control" type="tel" placeholder="(  ) ____-____"/>
        </div>

        <div class="col-md-3">
            <label for="TelefonePessoal" class="form-label">Telefone Pessoal</label>
            <input id="TelefonePessoal" class="form-control" type="tel" placeholder="(  ) ____-____"/>
        </div>

        <div class="col-md-3">
            <label for="Email" class="form-label">Email</label>
            <input id="Email" class="form-control" type="email" />
        </div>
    </div>
</div>