@{
    ViewData["Title"] = "8Quali";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p class="lead">Este é o seu portal de Gestão de Qualidade.</p>
    <a class="btn btn-primary" type="button" asp-controller="Contato" asp-action="Index">
        Cadastro de clientes.
    </a>
</div>